@import "../abstracts/variables";

button {
  padding: 18px 32px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: $brd-radius;
  cursor: pointer;
}

.primaryButton {
  background: rgb(48, 48, 48);
  color: $clr-title-light;

  box-shadow: -2px -2px 5px $clr--background-dark-lighter,
    3px 3px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: inset -2px -2px 5px $clr--background-dark-lighter,
      inset 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.secondaryButton {
  border: 2px solid $clr-accent;
  background: transparent;
  color: $clr-accent;
}

.tertiaryButton {
  border: 0px solid $clr-accent;
  background: transparent;
  color: $clr-title-dark;
  padding: 0;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
