@import "../abstracts/variables";
@import "../utilities/sectionControl";

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 0 1em;
  min-height: 8vh;
  align-items: center;
  color: $clr-text-light;

  .logo {
    width: 50px;
    height: 30px;
    filter: brightness(0%);
    cursor: pointer;
  }

  .navLinks {
    list-style: none;

    width: 40%;

    justify-content: space-around;
    font-weight: 500;

    li {
      cursor: pointer;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      // color: $clr-text-dark;

      a {
        all: unset;
        // color: $clr-text-dark;
        // color: white;
      }

      // &:hover,
      // &:active {
      //   color: $clr-accent;
      // }
    }
  }

  .burgerMenu {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: -2px -2px 8px $clr--background-dark-lighter,
      3px 3px 8px rgba(0, 0, 0, 0.678);
    width: 50px;
    height: 50px;

    .navLine {
      height: 2px;
      width: 25px;
      background: rgb(241, 241, 241);
      margin: 3px 0;
      transform: translate(50%, -50%);
    }
  }
}

@media only screen and (max-width: 992px) {
  .navLinks {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: $clr--background-dark;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.4s ease;

    li {
      text-align: center;
      width: 50%;
      padding: 20px 0;
      opacity: 0;
      transform: translateX(50px);

      a {
        color: $clr-text-light;
      }
    }

    .navLinksLine {
      height: 2px;
      width: 80%;
      background: $clr-text-light;
    }
  }

  .navLinksShow {
    transform: translateX(0);
  }
}

@media only screen and (min-width: 992px) {
  .navLinks {
    display: flex !important;
    min-width: 700px;
    flex-direction: row;
    align-items: center;

    .navLinksLine {
      display: none;
    }
  }

  .burgerMenu {
    display: none !important;
  }
}

@keyframes navLinkFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
